.App {
  min-height:100vh;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  
  }
  .search-form{
    min-height: 10vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .search-bar{
    width:50%;
    border:none;
    padding:10px;
    outline:none;
  }
  .search-button{
    background:#9afffb ;
    border:none;
    padding:10px;
    color:#000000;
    cursor:pointer;
  }
  .receipe{
    margin:5px 10px;
    padding:2px;
    min-height: 100vh;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);  
    display:grid;
    justify-content: center;
    font-family: consolas;
    grid-template-columns:repeat(3, 1fr);
  }

  @media(max-width:460px){
    .receipe{
      display:flex;
      flex-direction:column;
    }
  }